@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font: #dadada;
        --font-hover: #ffffff;
        --background-color: #f3e8ff ;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --font: #dadada;
        --font-hover: #ffffff;
    }
}

body {
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
