@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font: #dadada;
        --font-hover: #ffffff;
        --background-color: #14181C;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --font: #dadada;
        --font-hover: #ffffff;
    }
}

::-webkit-scrollbar {
    width: 10px;
    color: black;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    background-color: rgba(128, 128, 128, 0.492);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.scroll-blocked {
    overflow: hidden;
}
